Cubetto/Cubetto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xml.semture.de/mobileE3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mobilee3="http://xml.semture.de/mobileE3">
  <xs:import namespace="http://www.w3.org/2001/XMLSchema-instance" schemaLocation="xsi.xsd"/>
  <xs:element name="projects">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mobilee3:project"/>
      </xs:sequence>
      <xs:attribute name="exporter" use="required"/>
      <xs:attribute name="exporterVersion" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required"/>
      <xs:attribute name="targetNamespace" use="required" type="xs:anyURI"/>
      <xs:attribute ref="xsi:schemaLocation" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="project">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mobilee3:modelType"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="information" use="required"/>
      <xs:attribute name="leastPresentation" use="required" type="xs:NCName"/>
      <xs:attribute name="modifiedAt" use="required" type="xs:decimal"/>
      <xs:attribute name="name" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="modelType">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:sequence>
            <xs:element ref="mobilee3:information"/>
            <xs:element ref="mobilee3:model"/>
            <xs:element ref="mobilee3:viewType"/>
            <xs:element maxOccurs="unbounded" ref="mobilee3:objectType"/>
          </xs:sequence>
          <xs:attribute name="cubettoBuild" use="required" type="xs:integer"/>
          <xs:attribute name="cubettoVersion" use="required" type="xs:NMTOKEN"/>
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="languageVersion" use="required" type="xs:NMTOKEN"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="model">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:sequence>
            <xs:element ref="mobilee3:view"/>
            <xs:element maxOccurs="unbounded" ref="mobilee3:object"/>
          </xs:sequence>
          <xs:attribute name="id" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="view">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="mobilee3:presentation"/>
          </xs:sequence>
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="viewType" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="presentation">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="layoutOrientation" use="required" type="xs:integer"/>
          <xs:attribute name="presentationType" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="object">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:sequence>
            <xs:choice minOccurs="0">
              <xs:element ref="mobilee3:information"/>
              <xs:element ref="mobilee3:presentationObject"/>
            </xs:choice>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="mobilee3:e3Property"/>
              <xs:element ref="mobilee3:stringProperty"/>
            </xs:choice>
          </xs:sequence>
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="objectType" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="presentationObject">
    <xs:complexType>
      <xs:attribute name="bounds" use="required"/>
      <xs:attribute name="horizontalIndex" use="required" type="xs:integer"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="presentation" use="required" type="xs:NCName"/>
      <xs:attribute name="presentationObjectType" use="required" type="xs:NCName"/>
      <xs:attribute name="verticalIndex" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="e3Property">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="mobilee3:presentationProperty"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="objectValue" type="xs:NCName"/>
      <xs:attribute name="propertyType" use="required" type="xs:NCName"/>
      <xs:attribute name="propertyValue" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="presentationProperty">
    <xs:complexType>
      <xs:attribute name="destination" use="required" type="xs:NCName"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="presentationObject" use="required" type="xs:NCName"/>
      <xs:attribute name="presentationPropertyType" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stringProperty">
    <xs:complexType>
      <xs:attribute name="en-GB" use="required"/>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="propertyType" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="viewType">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="mobilee3:presentationType"/>
          </xs:sequence>
          <xs:attribute name="id" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="presentationType">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:sequence>
            <xs:element minOccurs="0" ref="mobilee3:information"/>
          </xs:sequence>
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="standardPresentation" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectType">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:sequence>
            <xs:element minOccurs="0" ref="mobilee3:information"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mobilee3:superObjectType"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mobilee3:presentationObjectType"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mobilee3:propertyType"/>
          </xs:sequence>
          <xs:attribute name="abstract" use="required" type="xs:integer"/>
          <xs:attribute name="copyName" use="required" type="xs:integer"/>
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="readOnly" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="superObjectType">
    <xs:complexType>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="presentationObjectType">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="presentationType" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="propertyType">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:sequence>
            <xs:element minOccurs="0" ref="mobilee3:information"/>
            <xs:element minOccurs="0" ref="mobilee3:group"/>
            <xs:element minOccurs="0" ref="mobilee3:stringRange"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mobilee3:e3Range"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="mobilee3:presentationPropertyType"/>
          </xs:sequence>
          <xs:attribute name="deleteObjectCascade" type="xs:integer"/>
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="index" use="required" type="xs:integer"/>
          <xs:attribute name="max" use="required" type="xs:integer"/>
          <xs:attribute name="min" use="required" type="xs:integer"/>
          <xs:attribute name="succeeding" type="xs:integer"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="group">
    <xs:complexType>
      <xs:attribute name="de" use="required"/>
      <xs:attribute name="en-GB" use="required"/>
      <xs:attribute name="key"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stringRange">
    <xs:complexType>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="maxLength" use="required" type="xs:integer"/>
      <xs:attribute name="minLength" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="e3Range">
    <xs:complexType>
      <xs:attribute name="id" use="required" type="xs:NCName"/>
      <xs:attribute name="objectType" type="xs:NCName"/>
      <xs:attribute name="presentationType" type="xs:NCName"/>
      <xs:attribute name="propertyType" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="presentationPropertyType">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mobilee3:name">
          <xs:attribute name="id" use="required" type="xs:NCName"/>
          <xs:attribute name="presentationObjectType" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="name">
    <xs:sequence>
      <xs:element ref="mobilee3:name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="name">
    <xs:complexType>
      <xs:attribute name="de"/>
      <xs:attribute name="en-GB"/>
      <xs:attribute name="key"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="information">
    <xs:complexType>
      <xs:attribute name="de"/>
      <xs:attribute name="en-GB"/>
      <xs:attribute name="icon" type="xs:NMTOKEN"/>
      <xs:attribute name="key"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
